body {
	background-image: url("images/dom_brian.jpg");

}


.rowA, .rowB {

	width: 80%;
	height: 90px;
	color: grey;
	border: 1px solid black;
	background-color: rgba(188,185,185,0.5);
	margin: 0 auto;
}

h1 {
	font-family: 'Racing Sans One', cursive;
	text-align: center;
	font-size: 40px;
	color: #db853b;
}

h3 {
	font-size: 22px;
	font-family: 'Racing Sans One', cursive;
}


