body {
	background-image: url("images/dom_brian.jpg");

}

element.style {
	height: 100px;
}

.box {
	height: 280px;
	color: grey;
	border: 1px dotted black;
	background-color: #babdc1;
	width: 80%;
}

.rowA, .rowB {

	width: 80%;
	height: 90px;
	color: grey;
	border: 1px solid black;
	background-color: rgba(188,185,185,0.5);
	margin: 0 auto;
}

h1 {
	font-family: 'Racing Sans One', cursive;
	text-align: center;
	font-size: 40px;
}

h3 {
	font-size: 22px;
	font-family: 'Racing Sans One', cursive;
}
